h1 {
    font-family: papyrus;
    text-align: center;
    margin: 0 auto;
    padding-top: 0.5em;
  }
  
  p {
    font-family: verdana;
    text-align: center;
    padding-bottom: 0.6em;
  }
  
  .quote {
    text-align: left;
    margin: 2em 0;
  }
  
  .end {
    padding: 0.5em 0 2em 0;
  }
  
  img {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    max-width: 100%;
    height: auto;
  }
  
  .frame {
    border: 10px solid black;
  }
  
  .canvas {
    background-color: #dfdfdf
  }
  
  .one {
    background-color: #6f8d7f;
    padding-top: 2em;
    padding-bottom: 0.5em;
    border: 10px solid #dfdfdf
  }
  
  .caption {
    font-size: 80%;
    font-family: verdana;
    margin: 0.4rem;
    text-align: center;
  }
  
  ul {
    padding-left: 3em;
    font-family: verdana;
    font-size: 90%;
  }
  
  li {
    margin: 8px 0;
  }
  
  a {
    color: #3d6d3e
  }
  
  a:hover {
    color: #6f8d7f
  }